.bpp-list-group {
  margin: 4px 0 10px;
  padding-left: 0;
  list-style: none;
}

.bpp-list-group .bpp-list-entry {
  border: 1px solid #ccc;
  background: #fff;
  padding: 4px 6px;
  margin-bottom: 4px;
  border-radius: 3px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bpp-list-group .bpp-list-entry:hover {
  background: #f2f2f2;
}